<a href="https://colab.research.google.com/github/luisdiaz1997/DataScienceCourse/blob/master/Data_Sci_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PACKAGES 

There are tools you can download into your code to implement. Think of these like your toolbox, to create plots, analyze data, and

# IMPORT DATA

Pd. - pandas : used for data manipulation and analysis 

pd.read_csv({dataframe}) 

variables : a way to name your values to refer to them

In [0]:
url_link = "https://raw.githubusercontent.com/luisdiaz1997/Python-Lessons/master/IMDB-Movie-Data.csv"

# Google 

how can you view the first five lines of the dataframe?

## How we can access rows?

## How we can access multiple rows?

##Accessing Columns
there are two ways to do this, 
using df, and the exact name, or iloc

## Get the movies released 2015

##Get the movies with a rating higher than 8

## Get the movies with a rating higher than 7 and released 2014

##What was the maximum length of movies?

## What was the maximum duration of the movies in 2014?

##What was the average duration of movies in 2015?

#Challenge Question

##In the year 2016, what was the average rating of movies?


#Challenge 2
##What year had the highest rated movie?