<a href="https://colab.research.google.com/github/luisdiaz1997/DataScienceCourse/blob/master/pandas_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PACKAGES 

There are tools you can download into your code to implement. Think of these like your toolbox, to create plots, analyze data, and

In [0]:
import pandas as pd

# IMPORT DATA

Pd. - pandas : used for data manipulation and analysis 

pd.read_csv({dataframe}) 

variables : a way to name your values to refer to them

In [0]:
url_link = "https://raw.githubusercontent.com/luisdiaz1997/Python-Lessons/master/IMDB-Movie-Data.csv"

In [0]:
df = pd.read_csv(url_link)

# Google 

how can you view the first five lines of the dataframe?

In [4]:
df.head(n = 5) # you can change the number of rows shown however the default is 5

   Rank                    Title  ... Revenue (Millions) Metascore
0     1  Guardians of the Galaxy  ...             333.13      76.0
1     2               Prometheus  ...             126.46      65.0
2     3                    Split  ...             138.12      62.0
3     4                     Sing  ...             270.32      59.0
4     5            Suicide Squad  ...             325.02      40.0

[5 rows x 12 columns]

## How we can access rows

In [5]:
df.iloc[0] # you can access the specific rows, on a 0-n scale, not 1-n

Rank                                                                  1
Title                                           Guardians of the Galaxy
Genre                                           Action,Adventure,Sci-Fi
Description           A group of intergalactic criminals are forced ...
Director                                                     James Gunn
Actors                Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Year                                                               2014
Runtime (Minutes)                                                   121
Rating                                                              8.1
Votes                                                            757074
Revenue (Millions)                                               333.13
Metascore                                                            76
Name: 0, dtype: object

## How we can access multiple rows?

In [6]:
df.iloc[2:5] # you can access multiple rows through iloc as well, 2-5, but the 5 is not included because of the scale

   Rank          Title  ... Revenue (Millions) Metascore
2     3          Split  ...             138.12      62.0
3     4           Sing  ...             270.32      59.0
4     5  Suicide Squad  ...             325.02      40.0

[3 rows x 12 columns]

##Accessing Columns

In [7]:
df['Title'] # two ways to access columns, one is by the name, and it has to be exactly how it is written in the data frame

0      Guardians of the Galaxy
1                   Prometheus
2                        Split
3                         Sing
4                Suicide Squad
                ...
995       Secret in Their Eyes
996            Hostel: Part II
997     Step Up 2: The Streets
998               Search Party
999                 Nine Lives
Name: Title, Length: 1000, dtype: object

In [8]:
df.iloc[:, 2:5] # you can also access it this with the iloc format, [ row , column ]  
# : all , 0:10 , :2  before 2: after # column same thing

                        Genre  ...              Director
0     Action,Adventure,Sci-Fi  ...            James Gunn
1    Adventure,Mystery,Sci-Fi  ...          Ridley Scott
2             Horror,Thriller  ...    M. Night Shyamalan
3     Animation,Comedy,Family  ...  Christophe Lourdelet
4    Action,Adventure,Fantasy  ...            David Ayer
..                        ...  ...                   ...
995       Crime,Drama,Mystery  ...             Billy Ray
996                    Horror  ...              Eli Roth
997       Drama,Music,Romance  ...            Jon M. Chu
998          Adventure,Comedy  ...        Scot Armstrong
999     Comedy,Family,Fantasy  ...      Barry Sonnenfeld

[1000 rows x 3 columns]

## Get the movies released 2015

In [9]:
df['Year']==2015 # introduction to boolean

0      False
1      False
2      False
3      False
4      False
       ...
995     True
996    False
997    False
998    False
999    False
Name: Year, Length: 1000, dtype: bool

In [10]:
mask = df['Year']==2015 #assign to a variable to use it  

df[mask].head() # get the first 5 of the movies made in 2015

    Rank  ... Metascore
26    27  ...       NaN
50    51  ...      81.0
63    64  ...      46.0
67    68  ...      90.0
84    85  ...      67.0

[5 rows x 12 columns]

##Get the movies with a rating higher than 8

In [11]:
df[df['Rating'] > 8].head() # if you dont want to make an entire variable like mask, and just want a one time use you can use soemthing like this

    Rank                    Title  ... Revenue (Millions) Metascore
0      1  Guardians of the Galaxy  ...             333.13      76.0
6      7               La La Land  ...             151.06      93.0
16    17            Hacksaw Ridge  ...              67.12      71.0
18    19                     Lion  ...              51.69      69.0
26    27  Bahubali: The Beginning  ...               6.50       NaN

[5 rows x 12 columns]

## Get the movies with a rating higher than 7 and released 2014

In [12]:
df[(df['Rating'] > 7) & (df['Year'] == 2014)].head() # more boolean work

    Rank                         Title  ... Revenue (Millions) Metascore
0      1       Guardians of the Galaxy  ...             333.13      76.0
36    37                  Interstellar  ...             187.99      74.0
53    54                     John Wick  ...              43.00      68.0
65    66  Kingsman: The Secret Service  ...             128.25      58.0
83    84                     Gone Girl  ...             167.74      79.0

[5 rows x 12 columns]

##What was the maximum length of movies?

In [13]:
df['Runtime (Minutes)'].max() # introduce the max

191

## What was the maximum duration of the movies in 2014?

In [14]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [15]:
df[df['Year'] == 2014]['Runtime (Minutes)'].max()

169

##What was the average duration of movies in 2015?

In [16]:
df[df['Year'] == 2015]['Runtime (Minutes)'].mean()

114.49606299212599

#Challenge Question

##In the year 2016, what was the average rating of movies?

In [17]:
df[df['Year'] == 2016]['Rating'].mean()

6.436700336700337

#Challenge 2
##What year had the highest rated movie?

In [18]:
df.iloc[df['Rating'].idxmax()]['Year']

2008