## Introduction to Types

In [1]:
print("Hello World")

Hello World

In [2]:
word = "Hello World"

In [3]:
type(word)

str

In [4]:
n = 2

In [5]:
type(str)

type

In [6]:
m = 5.81

In [7]:
type(m)

float

## Casting

In [8]:
print("I have " + n + " cats")

TypeError: can only concatenate str (not "int") to str

In [9]:
print("I have " + str(n) + " cats")

I have 2 cats

In [10]:
n1 = 10
n2 = '3'

In [11]:
n1 * n2

'3333333333'

In [12]:
n1 * int(n2)

30

## Booleans

In [13]:
A = 5 == 5

In [14]:
print(A)

True

In [15]:
type(A)

bool

In [16]:
x, y = 10, 5

In [17]:
print(x != y)
print(x > y)
print(x >= y)
print(x is y)
print(x is not y)

True
True
True
False
True

In [18]:
if x > 10:
    print('Yeah')
else:
    print('Nah')

Nah

In [19]:
if x%2 == 0:
    print(x, 'is even')
else:
    print(x, 'is odd')

10 is even

## Loops

In [20]:
nums = [1, 2, 3, 4]
for n in nums:
    print(n)

1
2
3
4

In [21]:
for n in nums:
    print(n**2)

1
4
9
16

In [22]:
print([n**2 for n in nums])

[1, 4, 9, 16]

In [23]:
x = 10
while x > 0:
    print(x)
    x -=1

10
9
8
7
6
5
4
3
2
1

In [24]:
counter = 0

while True:
    
    counter+=1
    
    if counter%70 == 0:
        break
        
    if counter%2 == 0:
        continue
        
    print((counter//60)%24,(counter//10)%6, counter%10)

0 0 1
0 0 3
0 0 5
0 0 7
0 0 9
0 1 1
0 1 3
0 1 5
0 1 7
0 1 9
0 2 1
0 2 3
0 2 5
0 2 7
0 2 9
0 3 1
0 3 3
0 3 5
0 3 7
0 3 9
0 4 1
0 4 3
0 4 5
0 4 7
0 4 9
0 5 1
0 5 3
0 5 5
0 5 7
0 5 9
1 0 1
1 0 3
1 0 5
1 0 7
1 0 9

## Functions

In [25]:
def myfunc():
    'Function that prints (hey there)'
    print('Hey there')

In [26]:
type(myfunc)

function

In [27]:
myfunc()

Hey there

In [28]:
def print_this(i, word):
    print(i* word)

In [30]:
def multiple():
    for i in range(10):
        print_this(i, word)

In [31]:
multiple()

Hello World
Hello WorldHello World
Hello WorldHello WorldHello World
Hello WorldHello WorldHello WorldHello World
Hello WorldHello WorldHello WorldHello WorldHello World
Hello WorldHello WorldHello WorldHello WorldHello WorldHello World
Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World
Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World
Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World

In [32]:
import math
def to_radians(degree):
    rad = (degree/180)*math.pi
    return rad

In [33]:
degree= to_radians(10)

In [34]:
degree

0.17453292519943295

In [35]:
num_list = [2, 12, 13, 1, 9, 20, 3]

In [36]:
def get_max(some_list):
    max_val = None
    for num in some_list:
        if (max_val is None):
            max_val = num
            continue
        if num > max_val:
            max_val = num
    return max_val

In [37]:
get_max(num_list)

20

In [38]:
def get_min(some_list):
    min_val = None
    for num in some_list:
        if (min_val is None):
            min_val = num
            continue
        if num < min_val:
            min_val = num
    return min_val

In [39]:
get_min(num_list)

1

In [40]:
K  = lambda x: x**2 #lets you define functions on the go

In [41]:
K(2)

4

## Strings

In [42]:
A = 'ABCDEFGHIJKLMN'

In [43]:
A[0:3]

'ABC'

In [44]:
A[::2]

'ACEGIKM'

In [45]:
A[0:10:2]

'ACEGI'

In [46]:
A[::-1]

'NMLKJIHGFEDCBA'

## Lists, Tuples and Dictionaries

In [47]:
x = [0, 1, 2, 3 ,4 ,5]
type(x)

list

In [48]:
y = (0, 1, 2, 3 ,4 ,5)
type(y)

tuple

In [49]:
x[0]

0

In [50]:
y[0]

0

In [51]:
x[0] = 2
x

[2, 1, 2, 3, 4, 5]

In [52]:
y[0] = 1 #tuples are not mutable

TypeError: 'tuple' object does not support item assignment

In [53]:
my_dict = {'hey': 'ha', 'meh':'no'}

In [54]:
my_dict['hey']

'ha'

In [55]:
my_dict['meh'] = 'yes' #they are mutable

In [56]:
my_dict

{'hey': 'ha', 'meh': 'yes'}

In [57]:
t = list(my_dict.items())

In [58]:
t

[('hey', 'ha'), ('meh', 'yes')]

In [59]:
for key, val in my_dict.items():
    print(key, val)

hey ha
meh yes

In [60]:
complement = {'A':'T', 'T':'A', 'C':'G', 'G':'C'}

In [61]:
def get_reversed(DNA):  
    new_seq = ''
    for n in DNA[::-1]:
        new_seq+=complement[n]
    return new_seq

In [62]:
seq = 'ATCGTCACACACAAAAACATCGACG'
get_reversed(seq)

'CGTCGATGTTTTTGTGTGTGACGAT'

In [63]:
func = {'add_one': lambda x: x+1, 'add_two': lambda x:x +2}

In [64]:
func['add_one'](10)

11

## Let's put all together

In [94]:
import string
fhand = open('poem.txt')

counts = dict()
for line in fhand:
    line = line.lower()
    line = line.strip()
    line = line.translate(str.maketrans('', '', string.punctuation))
    words = line.split()
    if len(words) == 0:
        continue
    for word in words:
        counts[word] = counts.get(word, 0)+1

In [97]:
count_list = [(key, val) for key, val in counts.items()]

In [102]:
count_list.sort(key = lambda x:x[1], reverse = True)

In [104]:
count_list[:10]

[('the', 36),
 ('i', 35),
 ('you', 28),
 ('her', 24),
 ('love', 20),
 ('my', 20),
 ('to', 19),
 ('that', 18),
 ('and', 17),
 ('me', 16)]

In [105]:
seq = 'ACGACTGACGACGATCGATCGATCGATCGAGCGACGACACACAAAAACAGCACGTACGAAAAACACATCACAAACGATCGAGCGCGGCGCGCGATCATGAGGAGAGATCTGACATCACACAAAAACTACTACGACATCATCGATCATCACAAAAAACAGCATCATCACGCATCATCAAAAAAAAAAAAAAAAAAAAAAAAAACGACATCATGCGCGCATCATGCATGTGCGGGCGGGAGCTATGCATCAGCTCTCATCGCGCGGCGGCGCGAGCTACACGAAAATTAAAAGATGACTGATGACTGACTGACTGCAGCAGCTAGCATGCATGCATGCATGCGTAGCGATCTGATGCGTACTACATCGGTAGTATTAGGGCTTAGGCTAGCCCGATCGATAGCTACAACAGATAGATAGATAGATAGATAGATATGATACGACTAGCGACGGTACGAGCACACGCGCGATCATGCATGCTAGCGACTACGACGACGTAGAGGAGAGAGCACTAGGAGAGGAGAGAGCGCAGCGCTACGAC'

In [106]:
def get_kmers(seq, k = 6):
    
    kmer_dict = dict()
    for i in range(len(seq) - k + 1):
        kmer = seq[i:i+k]
        if get_reversed(kmer) > kmer:
            kmer = get_reversed(kmer)
        kmer_dict[kmer] = kmer_dict.get(kmer, 0) + 1
    return kmer_dict

In [119]:
kmer_dict = get_kmers(seq, k = 6)

In [120]:
to_list = lambda some_dict: [(key, val) for key, val in some_dict.items()]

In [121]:
kmer_list = to_list(kmer_dict)

In [122]:
kmer_list.sort(key = lambda x:x[1], reverse = True)

In [123]:
kmer_list[:10]

[('TTTTTT', 22),
 ('TCGATC', 10),
 ('TGCATG', 10),
 ('CGATCG', 6),
 ('ATGCAT', 6),
 ('ATCGAT', 5),
 ('GTTTTT', 5),
 ('CATCAT', 5),
 ('TGATGC', 5),
 ('GCATGC', 5)]